@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 75%;
  }
}

@media only screen and (min-width: 900px) {
  html {
    font-size: 87.5%; /* 1rem = 14px */
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 100%; /* 1rem = 16px */
  }
}

@media only screen and (min-width: 1800px) {
  html {
    font-size: 125%; /* 1rem = 20px */
  }
}

@keyframes from-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes from-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* lazy loading img */

.img-div {
  background-color: rgba(85, 52, 52, 0.7);
}

.img-box::before {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  animation: fadeIn 2.5s infinite;
  background-color: rgba(0, 0, 0, 0.9);
}

@keyframes fadeIn {
  0% {
    background-color: rgba(0, 0, 0, 0.3);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.7);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.no-after::before {
  display: none;
}

.back-dace-visibility {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
